.segments:nth-child(1) .service_icon{
    background-color: #b8c9ff;
}
.segments_inner::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    bottom: 0;
    background: #d8f3d3;
    height: 0;
    transition-duration: .4s;
    z-index: 0;
}
.segments_inner:hover::before{
    height: 100%;
}